.input {
    padding: 15px 20px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #b57dd4;
    color: #000;
    outline: none;
    
    &::placeholder {
        color: #000;
        opacity: 0.5
    }
    
    & > * {
        height: 100%;
    }
}