.wrapper {
  margin-bottom: 20px;
  white-space: pre-wrap;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.company {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 700;
}

.date {
  font-weight: 700;
  color: #0068a8;
}

.description {
  margin-top: 10px;
}
